html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1E1E1E;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page {
  margin-bottom: auto;
}

.main {
  padding-bottom: 120px;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.btn {
  text-align: center;
  padding: 15px 0;
  max-width: 300px;
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: #FED32F;
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  border-radius: 100px;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  cursor: pointer;
}

.btn:hover {
  background: #d6b21f;
}

.btn:active {
  background: #a58917;
}

.btn-transparent {
  background: transparent;
  max-width: 200px;
  width: 100%;
  display: block;
  border: 1px solid #FED32F;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #FED32F;
  padding: 7px 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.btn-transparent:hover {
  background: #FED32F;
  color: #333;
}

.btn-transparent:active {
  background: #a58917;
  color: #333;
}

.section-border {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.section-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 70px;
}

/* Magnific Popup CSS */

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */

img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */

.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

.header {
  position: relative;
}

.header__up {
  background: #fff;
  padding: 14px 0;
}

.header__up-enter {
  text-align: right;
}

.header__up-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__up-link:after {
  content: url(../img/icon/enter.png);
  display: block;
  margin-left: 15px;
}

.header__down {
  background: #151918;
  color: #fff;
  padding: 30px 0;
}

.header__down-wrapper {
  display: flex;
  align-items: center;
}

.header__down-logo {
  flex: 0 2 300px;
}

.header__down-logo img {
  display: block;
  max-width: 167px;
  width: 100%;
  height: auto;
}

.menu {
  flex: 0 1 100%;
  font-weight: 600;
  font-size: 14px;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list-item + .menu__list-item {
  margin-left: 15px;
}

.menu__list-item a {
  border-bottom: 3px solid transparent;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  position: relative;
}

.menu__list-item a:after {
  content: '';
  position: absolute;
  display: none;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background: #E72A00;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.menu__list-item:hover > a::after {
  display: block;
}

.burger__icon {
  display: none;
  position: relative;
  top: 0;
  right: 10px;
  width: 50px;
  height: 22px;
  cursor: pointer;
  z-index: 5;
  margin-left: 20px;
}

.burger__icon span {
  position: absolute;
  transition: all .3s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  height: 3px;
  width: 100%;
  background: #fff;
  display: block;
}

.burger__icon span:first-child {
  top: 0;
}

.burger__icon span:last-child {
  top: auto;
  bottom: 0;
}

.burger__icon.active span {
  transform: scale(0);
}

.burger__icon.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.burger__icon.active span:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.header {
  position: relative;
}

.header__mobile {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  width: 100%;
  background: #fff;
  color: #1e1e1e;
  z-index: 3;
  display: none;
}

.header__mobile-menu {
  background: #fff;
  padding: 30px 0;
}

.mobile-menu__list {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
}

.mobile-menu__list-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
}

.credit {
  color: #fff;
  background: url(../img/credit-bg.jpg) no-repeat;
  background-position: 85% 75%;
  background-size: cover;
  padding: 130px 0 195px;
  position: relative;
}

.credit::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(97.11deg, rgba(0, 0, 0, 0.5) 44.17%, rgba(0, 0, 0, 0) 74.08%);
}

.credit__content {
  position: relative;
  z-index: 2;
  max-width: 465px;
  width: 100%;
}

.credit__content-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}

.credit__content-text {
  font-size: 20px;
  line-height: 32px;
  margin-top: 23px;
}

.credit__content-btn {
  margin-top: 65px;
}

.section-info {
  position: relative;
  top: -20px;
  padding: 56px 36px;
}

.section-info__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.section-info__item {
  flex: 0 1 33.333%;
  text-align: center;
}

.section-info__item-img {
  background: #1E1E1E;
  border-radius: 10px;
  max-width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.section-info__item-name {
  max-width: 200px;
  width: 100%;
  margin: 15px auto 0;
  font-size: 20px;
  line-height: 30px;
}

.section-service {
  padding: 120px 0 90px;
}

.section-service__wrapper-text {
  width: 100%;
  line-height: 30px;
  color: #5C5C5C;
}

.section-service img {
  margin-left: 15px;
  float: right;
  display: block;
  max-width: 515px;
  width: 100%;
  height: auto;
}

.section-service__link {
  margin-top: 25px;
}

.section-service__link a {
  font-size: 14px;
  color: #E72A00;
  border-bottom: 1px dotted #E72A00;
}

.section-help {
  padding-bottom: 70px;
}

.section-help__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -35px;
  margin-left: -5px;
}

.section-help__wrapper-item {
  margin-top: 35px;
  margin-left: 5px;
}

.section-help__title {
  font-size: 22px;
  line-height: 30px;
}

.help-link {
  position: relative;
  max-width: 360px;
  width: 100%;
  margin-top: 35px;
}

.help-link__body img {
  display: block;
  max-width: 360%;
  width: 100%;
  height: auto;
}

.help-link__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 25, 24, 0.9);
  color: #fff;
  padding: 38px;
}

.help-link__content-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.help-link__content-text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 50px;
}

.help-link__content-btn {
  margin-top: auto;
}

.section-text {
  padding: 47px 39px;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 60px;
  text-align: center;
}

.section-text span {
  font-weight: 600;
  color: #E72A00;
}

.main__btn {
  margin: 0 auto;
}

.who {
  background: #1E1E1E;
  color: #fff;
  padding: 100px 0;
}

.who__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 53px;
  grid-column-gap: 50px;
}

.who__btn {
  margin: 60px auto 0;
}

.who-item {
  display: flex;
}

.who-item_end {
  justify-self: end;
}

.who-item__img {
  flex: 1 1 73px;
}

.who-item__img img {
  display: block;
  max-width: 73px;
  width: 100%;
  height: auto;
}

.who-item__content {
  flex: 1 3 392px;
  max-width: 392px;
  width: 100%;
  margin-left: 30px;
}

.who-item__content-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.who-item__content-text {
  font-size: 16px;
  line-height: 30px;
}

.work {
  background: #ffffff;
  padding: 120px 0;
}

.work__wrapper {
  display: flex;
  justify-content: space-between;
}

.work__btn {
  margin: 30px auto 0;
}

.work-item {
  flex: 0 1 20%;
  position: relative;
}

.work-item_arrow {
  flex: 1 6 56px;
  position: relative;
  top: 50px;
  margin: 0 15px;
}

.work-item_arrow img {
  display: block;
  max-width: 56px;
  width: 100%;
}

.work-item__img {
  margin-bottom: 20px;
}

.work-item__img img {
  display: block;
  max-width: 150px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.work-item__text {
  position: absolute;
  text-align: center;
  left: -20px;
  right: -20px;
  font-size: 20px;
  line-height: 30px;
  max-height: 120px;
  overflow: hidden;
}

.work-item__text:first-child {
  left: -10px;
}

.work-item__text:last-child {
  right: -10px;
}

.questions {
  background: url(../img/qustion-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px 0;
}

.questions__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.questions__accordion {
  max-width: 455px;
  width: 100%;
}

.questions__accordion-title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.questions__form {
  max-width: 570px;
  width: 100%;
  margin-left: 50px;
}

.questions__form-title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.questions-search {
  position: relative;
}

.questions-search button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.questions-search__lope {
  right: auto;
  left: 0;
}

.questions-search__lope::before {
  content: url(../img/icon/Search-lupe.svg);
  display: block;
  z-index: 2;
  position: absolute;
  left: 10px;
  top: 8px;
}

.questions-search__clear::after {
  content: url(../img/icon/search.svg);
  position: absolute;
  top: 8px;
  right: 8px;
}

.questions-search #search {
  position: relative;
  display: block;
  background: #FFFFFF;
  border-radius: 10px;
  width: 100%;
  border: none;
  outline: none;
  padding: 7px 30px;
  z-index: 1;
}

.questions-search__prompt {
  position: relative;
  top: -20px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  padding: 40px 30px 20px;
  font-size: 14px;
  line-height: 30px;
}

.questions-search__prompt-link {
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.questions-search__prompt-link:hover {
  opacity: 0.5;
}

.accordion-quest {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.accordion-quest:last-child {
  border-bottom: none;
}

.accordion-quest__name {
  padding: 12px 40px 12px 10px;
  position: relative;
}

.accordion-quest__content {
  display: none;
  line-height: 20px;
  padding: 0 10px 5px;
}

.accordion-quest .plus {
  display: block;
  position: absolute;
  width: 17px;
  height: 2px;
  background: #fff;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.accordion-quest .plus:after {
  content: '';
  position: absolute;
  display: block;
  width: 17px;
  height: 2px;
  background: #fff;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.accordion-quest.active .accordion-quest__name span::after {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.form-question__input {
  position: relative;
  padding-bottom: 20px;
}

.form-question__inp {
  display: block;
  max-width: 325px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  line-height: 30px;
  outline: none;
  padding: 0 10px;
}

.form-question__inp.error {
  border-color: red;
}

.form-question__inp.error::-moz-placeholder {
  color: red;
}

.form-question__inp.error:-ms-input-placeholder {
  color: red;
}

.form-question__inp.error::placeholder {
  color: red;
}

.form-question__inp::-moz-placeholder {
  color: #fff;
}

.form-question__inp:-ms-input-placeholder {
  color: #fff;
}

.form-question__inp::placeholder {
  color: #fff;
}

.form-question .error {
  font-size: 12px;
  color: red;
}

.form-question__textarea {
  display: block;
  resize: none;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  color: #fff;
  padding: 20px 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  min-height: 255px;
  outline: none;
  margin-top: 50px;
}

.form-question__textarea::-moz-placeholder {
  color: #fff;
}

.form-question__textarea:-ms-input-placeholder {
  color: #fff;
}

.form-question__textarea::placeholder {
  color: #fff;
}

.questions__form-btn {
  margin-top: 45px;
}

.contacts {
  padding: 120px 0 110px;
}

.contacts__wrapper {
  display: flex;
  align-items: flex-start;
}

.contacts__wrapper-map {
  flex: 0 2 570px;
  max-width: 570px;
  width: 100%;
}

.contacts__wrapper-map iframe {
  max-width: 570px;
  width: 100%;
  min-height: 324px;
}

.contacts__wrapper-description {
  margin-left: 35px;
}

.description-contacts__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 38px;
}

.description-contacts__item {
  margin-bottom: 10px;
}

.description-contacts__item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}

.description-contacts__item-text {
  font-size: 14px;
  line-height: 30px;
}

.preview {
  position: relative;
  padding: 60px 0 50px;
  background: url(../img/preview-bg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.preview::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.preview__title {
  position: relative;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 25px;
  z-index: 2;
}

.preview__subtitle {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  z-index: 2;
}

.data {
  padding: 100px 0;
}

.form-accordion {
  color: #3F4E57;
}

.form-accordion_credit .form-content__radio label {
  display: block;
}

.form-accordion_credit .form-content__radio label span {
  color: #D1D1D3;
}

.form-accordion_credit .form-content__radio label + label {
  margin-top: 15px;
}

.form-accordion + .form-accordion {
  margin-top: 30px;
}

.form-accordion__name {
  cursor: pointer;
  position: relative;
  z-index: 2;
  background: #F0F2F9;
  border-radius: 10px;
  padding: 18px 50px 18px 40px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #5C5C5C;
}

.form-accordion__name::after {
  content: url(../img/icon/accordion-arrow.png);
  display: block;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.form-accordion__name.active::after {
  transform: translateY(-50%) rotate(180deg);
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
}

.form-accordion__content {
  display: none;
  position: relative;
  top: -10px;
  padding: 40px 20px 40px 40px;
  border: 1px solid #E0E0E0;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
}

.accordion__content-line {
  height: 1px;
  width: 100%;
  background: #E0E0E0;
  margin: 5px 0 25px;
}

.form-content__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.form-content__radio {
  margin-bottom: 20px;
}

.form-content__radio input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.form-content__radio input:hover ~ .radio__indificator {
  border: 1px solid #E72A00;
}

.form-content__radio input:checked ~ .radio__indificator {
  border: 1px solid #E72A00;
}

.form-content__radio input:checked ~ .radio__indificator::after {
  display: block;
}

.form-content__radio label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  line-height: 30px;
}

.form-content__radio_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
}

.form-content__inputs_personal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.form-content__inputs_credit {
  max-width: 715px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.form-content__inp input {
  max-width: 350px;
  width: 100%;
  border: 1px solid #D1D1D3;
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
  padding: 15px;
  width: 100%;
  outline: none;
}

.form-content__inp input:hover {
  border: 1px solid #1E1E1E;
}

.form-content__inp input:focus {
  border: 1px solid #1E1E1E;
}

.form-content__inp label {
  display: block;
  margin-bottom: 10px;
  line-height: 30px;
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
}

.form-accordion__content-item + .form-accordion__content-item {
  margin-top: 20px;
}

.radio__indificator {
  position: absolute;
  top: 6px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.radio__indificator::after {
  content: '';
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 50%;
  top: 50%;
  background: #E72A00;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.form-row {
  display: grid;
  grid-template-columns: 31% 35% 1fr;
}

.form-row__item + .form-row__item {
  margin-left: 15px;
}

.form-row__item .form-content__radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-row__item .form-content__radio label + label {
  margin-top: 15px;
}

.form__btns {
  max-width: 300px;
  width: 100%;
  margin: 80px auto 0;
  text-align: center;
}

.form__btns-back {
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 16px;
  color: #A4A4A4;
  margin-top: 22px;
  opacity: 0.7;
  border-bottom: 1px dotted;
}

.help {
  padding: 100px 0;
}

.accordion-content__item + .accordion-content__item {
  margin-top: 40px;
}

.form-content__wrapper_flex {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.form-content__inputs_creditHelp {
  flex: 0 1 715px;
  max-width: 715px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 90px 1fr;
  grid-gap: 15px;
}

.form-content__inp textarea {
  width: 100%;
  min-height: 150px;
  border: 1px solid #d1d1d3;
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  resize: none;
}

.form-content__inp textarea:hover {
  border: 1px solid #1E1E1E;
}

.form-content__inp textarea:focus {
  border: 1px solid #1E1E1E;
}

.form-content__textarea {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.form-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 250px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

.form-file__inp {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  width: 100%;
}

.form-file__inp input {
  display: block;
  width: 100%;
  border: none;
  background: #fff;
  opacity: 0;
  position: relative;
  z-index: 9;
  padding: 0;
  top: 0;
  margin: 0;
  left: 0;
  cursor: pointer;
  text-align: center;
}

.form-file__inp input:hover {
  border: 1px solid #1E1E1E;
}

.form-file__inp input:focus {
  border: 1px solid #1E1E1E;
}

.form-file__inp .select-file {
  position: absolute;
  top: 0px;
  color: #333;
  border-bottom: 1px dotted #333;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.form-file__inp .select-file:before {
  content: url("../img/icon/upload.png");
  position: absolute;
  left: -20px;
  top: 5px;
  cursor: pointer;
}

.form-file__inp .downloaded-file {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  color: #A4A4A4;
  border-bottom: 1px dotted #A4A4A4;
  cursor: pointer;
  display: none;
}

.form-file__inp .downloaded-file:before {
  content: url("../img/icon/clip.png");
  position: absolute;
  left: -20px;
  top: 5px;
  cursor: pointer;
}

.form__content-check {
  margin-top: 20px;
  padding-left: 25px;
  position: relative;
}

.form__content-check label {
  color: #5C5C5C;
  cursor: pointer;
}

.form__content-check input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.form__content-check input:hover ~ .checkbox__indificator {
  border: 1px solid #E72A00;
}

.form__content-check input:checked ~ .checkbox__indificator {
  border: 1px solid #E72A00;
}

.form__content-check input:checked ~ .checkbox__indificator::after {
  display: block;
}

.form__btn {
  margin: 60px auto 0;
}

.form__back {
  text-align: center;
}

.checkbox__indificator {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  border-radius: 3px;
}

.checkbox__indificator::after {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 1px;
  background: #E72A00;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.cabinet {
  padding: 50px 0 150px;
}

.cabinet__wrapper {
  display: flex;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.cabinet__wrapper-form {
  background: #F0F2F9;
  min-height: 1120px;
}

.cabinet-menu {
  flex: 0 0 300px;
}

.cabinet-menu__head {
  border: 1px solid #D1D1D3;
  border-right: none;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  background: #fff;
  padding: 25px 30px;
}

.cabinet-menu__head-photo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.cabinet-menu__head-photo img {
  display: block;
  max-width: 70px;
  width: 100%;
  height: auto;
  grid-area: 1 / 1 / 2 / 2;
}

.cabinet-menu__head-status {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FED32F;
  padding-top: 15px;
  grid-area: 1 / 2 / 2 / 3;
  text-align: right;
}

.cabinet-menu__head-name {
  margin-top: 10px;
  font-size: 20px;
  line-height: 25px;
  color: #1E1E1E;
  grid-area: 2 / 1 / 3 / 3;
}

.cabinet-menu__head-name span {
  display: block;
  font-weight: 600;
}

.cabinet-menu__nav-item {
  cursor: pointer;
  border: 1px solid #D1D1D3;
  border-right: none;
  border-radius: 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #fff;
  padding: 25px 30px;
}

.cabinet-menu__nav-item:hover path {
  fill: #E72A00;
}

.cabinet-menu__nav-item.active {
  background: #F0F2F9;
  border-color: #F0F2F9;
  position: relative;
}

.cabinet-menu__nav-item.active::before {
  content: '';
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 10px;
  display: block;
  width: 3px;
  border-radius: 2px;
  background: #E72A00;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.cabinet-menu__nav-item.active svg path {
  fill: #E72A00;
}

.cabinet-menu__nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cabinet-menu__nav-link svg {
  display: block;
  max-width: 34px;
  width: 100%;
  height: 34px;
}

.cabinet-menu__nav-link svg path {
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.cabinet-menu__nav-link span {
  margin-left: 20px;
}

.cabinet-form {
  flex: 0 1 100%;
  padding: 90px 30px;
}

.cabinet-form__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.cabinet-form .form-accordion__name {
  background: #fff;
}

.cabinet-form .form-accordion__content {
  background: #fff;
  border: none;
}

.cabinet-content__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #EAECF0;
}

.cabinet-content__head-name {
  font-size: 18px;
  line-height: 22px;
}

.cabinet-content__body {
  padding: 30px 0;
}

.cabinet-content__contract {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  color: #5C5C5C;
}

.cabinet-content__contract-btns {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.cabinet-content__contract-btns a + a {
  margin-left: 40px;
}

.cabinet-body__item {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
}

.cabinet-body__item + .cabinet-body__item {
  margin-top: 12px;
}

.cabinet-body__item-name {
  flex: 0 1 240px;
  color: #A4A4A4;
}

.cabinet-body__item-value {
  flex: 0 0 auto;
  margin-left: 20px;
  color: #333333;
}

.cabinet-form_scroll {
  overflow-x: scroll;
}

.cabinet-form_scroll::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

.cabinet-form_scroll::-webkit-scrollbar-thumb {
  background: #FED32F;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.cabinet-form_scroll::-webkit-scrollbar-track {
  background: #EAECF0;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.cabinet-form__scroll {
  overflow-x: scroll;
  padding-bottom: 15px;
}

.cabinet-form__scroll::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

.cabinet-form__scroll::-webkit-scrollbar-thumb {
  background: #FED32F;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.cabinet-form__scroll::-webkit-scrollbar-track {
  background: #EAECF0;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.cabinet-form__table {
  margin: 0 auto;
  width: 750px;
  font-size: 16px;
  line-height: 30px;
}

.cabinet-form__table-head {
  padding: 9px 40px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  background: #FFFFFF;
  border-radius: 10px;
}

.cabinet-form__table-item {
  text-align: left;
  white-space: nowrap;
}

.cabinet-form__table-item_right {
  text-align: right;
}

.cabinet-form__table-item_status span {
  padding: 6px 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.cabinet-form__table-item_status.status-work span {
  background: #EAF7EC;
  color: #82B783;
}

.cabinet-form__table-item_status.status-pay span {
  background: #FFEBB9;
  color: #DBB553;
}

.cabinet-form__table-item_status.status-agreement span {
  background: #E4EFFE;
  color: #8BA7D5;
}

.cabinet-form__table-item_court {
  position: relative;
  text-align: right;
  padding-right: 20px;
}

.cabinet-form__table-item_court::after {
  content: url(../img/icon/clip.png);
  position: absolute;
  top: 0;
  right: 0;
}

.cabinet-form__table-item_court.court-transferred {
  color: #E72A00;
}

.cabinet-form__table-row {
  margin-top: 10px;
  padding: 13px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  background: #FFFFFF;
  border-radius: 10px;
  color: #5C5C5C;
}

.court__val {
  margin-left: 15px;
}

.cabinet-form__consultation-label {
  font-size: 16px;
  line-height: 24px;
  color: #5C5C5C;
  margin-bottom: 20px;
}

.cabinet-form__consultation-textarea textarea {
  width: 100%;
  min-height: 250px;
  border: 1px solid #d1d1d3;
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  resize: none;
}

.cabinet-form__consultation-textarea textarea:hover {
  border: 1px solid #1E1E1E;
}

.cabinet-form__consultation-textarea textarea:focus {
  border: 1px solid #1E1E1E;
}

.cabinet-form__consultation-file {
  margin-top: 15px;
}

.cabinet-form__consultation-file .select-file {
  right: 0;
  left: auto;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.cabinet-form__consultation-file .downloaded-file {
  right: 0;
  left: auto;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.cabinet-form__consultation-btn {
  margin: 60px auto 0;
}

.cabinet-form__history-item {
  font-weight: 600;
  padding: 20px 40px;
  background: #FFFFFF;
  border-radius: 10px;
}

.history-dialog {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.history-dialog + .history-dialog {
  margin-top: 15px;
}

.history-dialog__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.history-dialog__title {
  font-size: 18px;
  line-height: 30px;
}

.history-dialog__date {
  font-size: 14px;
  line-height: 30px;
  color: #BABABA;
}

.history-dialog__date_mobile {
  display: none;
}

.history-dialog__personal {
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.history-dialog__personal span {
  margin-left: 15px;
}

.history-dialog__status {
  font-size: 14px;
  line-height: 30px;
  color: #41D0BF;
}

.history-dialog__status_active {
  color: #E72A00;
}

.history-dialog__btn {
  max-width: 130px;
  width: 100%;
  padding: 0px 20px;
  text-align: center;
  border: 1px solid #FED32F;
  border-radius: 100px;
  font-size: 12px;
  line-height: 30px;
  color: #FED32F;
  background: #fff;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.history-dialog__btn:hover {
  background: #FED32F;
  color: #1e1e1e;
}

.history-dialog__btn:active {
  background: #d6b11b;
  color: #1e1e1e;
}

.cabinet-form__dialog {
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px 40px;
}

.cabinet-form__dialog-head {
  font-weight: 600;
}

.dialog-head__title {
  font-size: 18px;
  line-height: 30px;
}

.dialog-head__row {
  display: flex;
  justify-content: space-between;
}

.dialog-head__date {
  font-size: 14px;
  line-height: 30px;
}

.dialog-head__status {
  font-size: 14px;
  line-height: 30px;
  color: #41D0BF;
  position: relative;
  top: -15px;
}

.dialog-head__status_active {
  color: #E72A00;
}

.dialog-body {
  height: 465px;
  padding: 30px 95px 0 0;
}

.dialog-body__scroll {
  margin-top: 45px;
  overflow-y: scroll;
}

.dialog-body__scroll::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

.dialog-body__scroll::-webkit-scrollbar-thumb {
  background: #FED32F;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.dialog-body__scroll::-webkit-scrollbar-track {
  background: #EAECF0;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.dialog-body__message {
  display: flex;
  margin-top: 50px;
  align-items: flex-end;
}

.dialog-body__message + .dialog-body__message {
  margin-top: 40px;
}

.dialog-body__message_incoming .dialog-body__message-text {
  background: #E5E5EA;
  color: #000;
  margin-left: 20px;
}

.dialog-body__message_incoming .dialog-body__message-text:after {
  content: url(../img/icon/Tail_2.png);
  z-index: 1;
  position: absolute;
  bottom: -3px;
  left: -5px;
}

.dialog-body__message_outgoing {
  flex-direction: row-reverse;
}

.dialog-body__message_outgoing .dialog-body__message-text {
  background: #5C5C5C;
  color: #fff;
  margin-right: 20px;
}

.dialog-body__message_outgoing .dialog-body__message-text:after {
  content: url(../img/icon/Tail.png);
  z-index: 1;
  position: absolute;
  bottom: -3px;
  right: -5px;
}

.dialog-body__message-text {
  position: relative;
  z-index: 2;
  top: -20px;
  border-radius: 15px;
  padding: 17px 12px 25px 24px;
}

.dialog-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.dialog-footer__personal {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #5C5C5C;
}

.dialog-footer__btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;
}

.cabinet-status {
  display: flex;
  background: #fff;
  border: 1px solid transparent;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cabinet-status + .cabinet-status {
  margin-top: 15px;
}

.cabinet-status_jun {
  border-color: #fed32f;
}

.cabinet-status_senior {
  border-color: #41D0BF;
}

.cabinet-status_pro {
  border-color: #E72A00;
}

.cabinet-status__stars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 30px 25px;
  max-width: 200px;
  width: 100%;
  border-right: 1px solid #F0F2F9;
  text-align: center;
}

.cabinet-status__stars-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabinet-status__stars-img svg {
  display: block;
  max-width: 71px;
  width: 100%;
  height: auto;
}

.cabinet-status__stars-img svg + svg {
  margin-left: 10px;
}

.cabinet-status__stars-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-top: auto;
}

.cabinet-status__stars-info {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #78808A;
  margin-top: 10px;
}

.cabinet-status__content {
  padding: 13px 20px 11px 14px;
}

.cabinet-status__content-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.cabinet-status__content-text {
  font-size: 14px;
  line-height: 20px;
  color: #5C5C5C;
  border-bottom: 1px solid #5C5C5C;
  padding-bottom: 20px;
}

.cabinet-status__content-val {
  margin-top: 12px;
  text-align: right;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #E72A00;
}

.cabinet-status_jun .star {
  fill: #FED32F;
}

.cabinet-status_jun .star path {
  fill: inherit;
}

.cabinet-status_jun .star rect {
  width: 100%;
  height: 100%;
}

.cabinet-status_jun .cabinet-status__content-val {
  color: #FED32F;
}

.cabinet-status_senior .star {
  fill: #41D0BF;
}

.cabinet-status_senior .star path {
  fill: inherit;
}

.cabinet-status_senior .star rect {
  width: 100%;
  height: 100%;
}

.cabinet-status_senior .cabinet-status__content-val {
  color: #41D0BF;
}

.cabinet-status_pro .star {
  fill: #E72A00;
}

.cabinet-status_pro .star path {
  fill: inherit;
}

.cabinet-status_pro .star rect {
  width: 100%;
  height: 100%;
}

.cabinet-status_pro .cabinet-status__content-val {
  color: #E72A00;
}

.cabinet-status_disabled .star {
  fill: #78808A;
}

.cabinet-status_disabled .star path {
  fill: inherit;
}

.cabinet-status_disabled .star rect {
  width: 100%;
  height: 100%;
}

.cabinet-status_disabled .cabinet-status__content {
  background: #E5E5E5;
}

.cabinet-status_disabled .cabinet-status__content-val {
  color: #5C5C5C;
}

.footer {
  background: #151918;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  padding: 30px 0;
}

.footer__copy {
  display: none;
  font-size: 8px;
  line-height: 14px;
  opacity: 0.8;
  margin-top: 35px;
}

.footer__wrapper {
  display: flex;
}

.footer__wrapper-logo {
  flex: 0 1 290px;
}

.footer__wrapper-logo img {
  display: block;
  max-width: 167px;
  width: 100%;
  height: auto;
}

.footer__wrapper-content {
  flex: 0 2 100%;
  display: flex;
  justify-content: space-between;
}

.footer-content__links-list a {
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.footer-content__links-list a:hover {
  color: #fed32f;
}

.footer-contacts__title {
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-contacts__item {
  display: flex;
}

.footer-contacts__item_social {
  display: block;
}

.footer-contacts__item-link {
  font-weight: 600;
  margin-left: 10px;
}

.footer-contacts__item-links {
  display: flex;
}

.footer-contacts__social svg {
  width: 16px;
  height: auto;
}

.footer-contacts__social svg path {
  fill: #fff;
}

.footer-contacts__social + .footer-contacts__social {
  margin-left: 14px;
}

.footer-contacts__social:hover svg path {
  fill: #fed32f;
}

.popups {
  background: #a4a4a4;
}

.popup {
  position: relative;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 70px 25px 95px;
  max-width: 530px;
  width: 100%;
  margin: 0 auto;
}

.popup__title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 40px;
}

.popup__inp input {
  width: 100%;
  border: 1px solid #D1D1D3;
  border-radius: 10px;
  display: block;
  padding: 15px;
  outline: none;
}

.popup__inp input:hover {
  border: 1px solid #1E1E1E;
}

.popup__inp input:focus {
  border: 1px solid #1E1E1E;
}

.popup__inp + .popup__inp {
  margin-top: 35px;
}

.popup__exit {
  height: 40px;
  display: block;
  background-color: #F4F4F9;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  border-radius: 0 5px 0 5px;
  border: none;
}

.popup__inp-link {
  font-size: 14px;
  line-height: 20px;
  color: #A4A4A4;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  -moz-text-decoration-style: dotted;
  margin-top: 20px;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.popup__inp-link:hover {
  color: #E72A00;
}

.popup__link {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #A4A4A4;
  text-align: center;
}

.popup__link a {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  -moz-text-decoration-style: dotted;
}

.popup__text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.poppup__btn {
  margin: 60px auto 0;
}

.popup_sucsess .popup__title {
  color: #E72A00;
}

.newPassword-info {
  display: none;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

.newPassword-info.visible {
  display: block;
}

input.error {
  border-color: red;
}

label.error {
  color: red;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 0;
}

.form__content-check {
  position: relative;
}

.form__content-check label.error {
  position: absolute;
  bottom: -15px;
}

@media (max-width: 1150px) {
  .section-help__wrapper {
    justify-content: center;
    margin-left: -25px;
  }

  .section-help__wrapper-item {
    margin-left: 25px;
  }
}

@media (max-width: 1120px) {
  .work-item__text {
    font-size: 18px;
  }
}

@media (max-width: 991.98px) {
  .header__down-wrapper {
    justify-content: space-between;
  }

  .header__down-logo {
    flex: 0 2 auto;
  }

  .menu {
    flex: 0 1 332px;
  }

  .menu__list-item_none {
    display: none;
  }

  .burger__icon {
    display: block;
  }

  .credit {
    padding: 43px 0 60px;
  }

  .section-info {
    padding: 47px 25px;
  }

  .section-info__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -40px;
  }

  .section-info__item {
    flex: 0 1 50%;
    margin-top: 40px;
  }

  .section-help__wrapper {
    margin-top: -5px;
    margin-left: -5px;
  }

  .section-help__wrapper-item {
    flex: 0 1 48%;
    margin-top: 5px;
    margin-left: 5px;
  }

  .questions {
    padding: 60px 0;
  }

  .questions__wrapper {
    display: block;
  }

  .questions__accordion {
    max-width: 100%;
  }

  .questions__form {
    margin-top: 70px;
    margin-left: 0;
    max-width: 100%;
  }

  .questions__form-btn {
    margin: 45px auto 0;
  }

  .contacts {
    padding: 100px 0;
  }

  .form-content__radio_row {
    grid-template-columns: 1fr 1fr;
  }

  .form-content__inputs_personal {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .form-content__inputs_personal .form-content__inp:first-child {
    grid-area: 1 / 1 / 2 / 2;
  }

  .form-content__inputs_personal .form-content__inp:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .form-content__inputs_personal .form-content__inp:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .form-content__inputs_personal .form-content__inp:nth-child(4) {
    grid-area: 3 / 1 / 4 / 2;
  }

  .form-content__inputs_personal .form-content__inp:last-child {
    grid-area: 3 / 2 / 4 / 3;
  }

  .form-content__inputs_credit {
    max-width: 100%;
  }

  .form-content__inp input {
    max-width: 100%;
  }

  .form-row {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  .form-row__item:last-child {
    margin-left: 0;
  }

  .form-row__item_last {
    grid-area: 2/3/2/1;
  }

  .form-row__item_last::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #E0E0E0;
    margin: 5px 0 25px;
  }

  .form-content__wrapper_flex {
    display: block;
  }

  .form-content__inputs_creditHelp {
    max-width: 100%;
    margin-right: 0;
  }

  .form-content__textarea {
    display: block;
  }

  .form-file {
    margin: 10px auto 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-file__inp {
    width: auto;
  }

  .form-file__inp .select-file {
    left: auto;
    right: 0;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  .form-file__inp .downloaded-file {
    left: auto;
    right: 0;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  .cabinet__wrapper {
    display: block;
  }

  .cabinet__wrapper-form {
    min-height: auto;
  }

  .cabinet-menu__head {
    border: 1px solid #D1D1D3;
    border-radius: 5px;
    border-right: 1px solid #d1d1d1;
  }

  .cabinet-menu__head-photo {
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }

  .cabinet-menu__head-photo img {
    grid-area: 1 / 1 / 2 / 2;
  }

  .cabinet-menu__head-status {
    padding-top: 0;
    grid-area: 1 / 3 / 2 / 4;
  }

  .cabinet-menu__head-status {
    grid-area: 1 / 2 / 2 / 3;
  }

  .cabinet-menu__head-name {
    margin-top: 0;
    margin-left: 20px;
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
  }

  .cabinet-menu__nav-item {
    border: 1px solid #D1D1D3;
    border-radius: 5px;
    border-right: 1px solid #d1d1d1;
  }

  .cabinet-form {
    padding: 60px 30px;
  }

  .cabinet-form__title {
    margin-bottom: 50px;
  }

  .dialog-body {
    padding: 30px 25px 0 0;
  }
}

@media (max-width: 991.98px) and (max-width: 650px) {
  .form-row__item_last::before {
    display: none;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    transform-origin: 0;
  }

  .mfp-arrow-right {
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */

  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 768.98px) {
  .main {
    padding-bottom: 110px;
  }

  .container {
    padding: 0 15px;
  }

  .section-title {
    margin-bottom: 50px;
  }

  .menu {
    display: none;
  }

  .credit {
    padding: 20px 0 47px;
  }

  .credit__content {
    margin: 0 auto;
  }

  .credit__content-title {
    font-size: 25px;
    line-height: 42px;
    text-align: center;
  }

  .credit__content-text {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }

  .credit__content-btn {
    margin: 30px auto 0;
  }

  .section-service {
    padding-top: 90px;
  }

  .section-service__wrapper {
    padding: 0 25px;
  }

  .section-service img {
    float: none;
    margin: 0 auto 25px;
  }

  .section-service__link {
    text-align: right;
    margin-right: 25px;
  }

  .section-help {
    padding-bottom: 60px;
  }

  .section-text {
    padding: 35px;
  }

  .cabinet-body__item {
    font-size: 12px;
  }

  .cabinet-form__history-item {
    padding: 15px 10px;
  }

  .history-dialog {
    display: block;
  }

  .history-dialog__col_mob {
    flex-direction: row;
    align-items: center;
  }

  .history-dialog__date {
    display: none;
  }

  .history-dialog__date_mobile {
    display: block;
    font-size: 12px;
  }

  .history-dialog__status {
    font-size: 12px;
  }

  .cabinet-form__dialog {
    padding: 20px 3px;
  }

  .dialog-head__title {
    font-size: 16px;
  }

  .dialog-head__date {
    font-size: 12px;
  }

  .dialog-head__status {
    top: 0;
    font-size: 12px;
  }

  .dialog-body {
    padding: 0 15px 0 0;
  }
}

@media (max-width: 760px) {
  .section-help__wrapper-item {
    flex: 0 1 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 750px) {
  .who__wrapper {
    display: block;
  }

  .who-item + .who-item {
    margin-top: 20px;
  }

  .who-item__img {
    flex: 0 1 auto;
  }

  .work__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work__btn {
    margin-top: 50px;
  }

  .work-item_arrow {
    top: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    margin: 15px 0;
  }

  .work-item__text {
    position: relative;
    left: 0;
    right: 0;
  }

  .contacts__wrapper {
    display: block;
  }

  .contacts__wrapper-map {
    margin: 0 auto;
  }

  .contacts__wrapper-description {
    margin-left: 0;
    margin-top: 20px;
  }

  .form-content__radio_row {
    display: block;
  }

  .form-content__radio_row label {
    display: block;
  }

  .form-content__radio_row label + label {
    margin-top: 5px;
  }

  .form-content__inputs_personal {
    display: block;
  }

  .form-content__inputs_credit {
    display: block;
  }

  .form-content__inp {
    margin-top: 10px;
  }

  .form-content__inputs_creditHelp {
    display: block;
  }

  .cabinet-status {
    display: block;
    text-align: center;
  }

  .cabinet-status__stars {
    max-width: 100%;
    border-right: none;
    border-bottom: 1px solid #F0F2F9;
  }

  .cabinet-status__content-val {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .form-accordion__name {
    font-size: 16px;
    padding: 18px 30px 18px 20px;
  }

  .form-accordion__name::after {
    right: 5px;
  }

  .form-accordion__content {
    padding: 20px;
  }

  .accordion__content-line {
    display: none;
  }

  .form-row {
    display: block;
  }

  .form-row__item + .form-row__item {
    margin-left: 0px;
  }
}

@media (max-width: 590px) {
  .footer {
    padding: 25px 0 10px;
  }

  .footer__copy {
    display: block;
  }

  .footer__wrapper-logo {
    display: none;
  }
}

@media (max-width: 479.98px) {
  .main {
    padding-bottom: 80px;
  }

  .section-title {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .section-info {
    padding: 35px 5px 35px 20px;
  }

  .section-info__wrapper {
    justify-content: flex-start;
    margin-top: 0;
  }

  .section-info__item {
    flex: 0 1 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .section-info__item:first-child {
    margin-top: 0;
  }

  .section-info__item-img {
    flex: 0 1 130px;
    padding: 15px;
    margin: 0;
  }

  .section-info__item-img img {
    display: block;
    max-width: 90px;
    width: 100%;
    height: auto;
  }

  .section-info__item-name {
    flex: 0 2 auto;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    margin: 0 0 0 15px;
  }

  .section-service {
    padding: 70px 0 35px;
  }

  .section-service__wrapper {
    padding: 0;
  }

  .section-service__wrapper-text {
    font-size: 12px;
    line-height: 25px;
    height: 225px;
    overflow: hidden;
  }

  .section-service img {
    margin: 0 auto 15px;
  }

  .section-service__link {
    margin-right: 0;
    margin-top: 10px;
  }

  .section-help {
    padding-bottom: 30px;
  }

  .section-help__title {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .section-text {
    padding: 30px 15px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  .who {
    padding: 40px 0;
  }

  .who-item__content-title {
    font-size: 18px;
  }

  .work {
    padding: 80px 0;
  }

  .questions {
    padding: 40px 0 80px;
  }

  .contacts {
    padding: 80px 0;
  }

  .form-content__radio label {
    font-size: 14px;
  }

  .form-content__inp label {
    font-size: 12px;
    margin-bottom: 0;
  }

  .form-file {
    flex-direction: column;
    align-items: center;
  }

  .form-file__inp .select-file {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .form-file__inp .downloaded-file {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .form__content-check {
    font-size: 14px;
  }

  .form__btn {
    margin: 30px auto 0;
  }

  .cabinet {
    padding: 20px 0 100px;
  }

  .cabinet-menu__head {
    padding: 20px;
  }

  .cabinet-menu__head-photo {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }

  .cabinet-menu__head-name {
    margin-left: 0;
    margin-top: 3px;
    grid-area: 2 / 1 / 3 / 3;
  }

  .cabinet-menu__head-name span {
    display: inline-block;
  }

  .cabinet-menu__nav-item {
    padding: 20px 25px;
  }

  .cabinet-form {
    padding: 50px 0px;
  }

  .cabinet-form__title {
    margin-bottom: 40px;
  }

  .cabinet-form .form-accordion__name span {
    display: none;
  }

  .cabinet-content__contract {
    padding-right: 0;
    font-size: 12px;
  }

  .cabinet-content__contract-btns a + a {
    margin-left: 20px;
  }

  .cabinet-form__table {
    width: 550px;
    font-size: 12px;
  }

  .cabinet-form__table-head {
    grid-template-columns: 62px 1fr 1fr 1fr;
  }

  .cabinet-form__table-row {
    grid-template-columns: 62px 1fr 1fr 1fr;
  }

  .cabinet-form__consultation-label {
    font-size: 12px;
    line-height: 20px;
  }

  .dialog-body__message-text {
    font-size: 14px;
  }

  .dialog-footer {
    display: block;
    margin-top: 40px;
    text-align: center;
  }

  .dialog-footer__personal {
    display: none;
  }

  .dialog-footer__btn {
    margin: 0 auto;
  }

  .popup {
    padding: 50px 15px 50px;
  }

  .popup__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .popup__inp + .popup__inp {
    margin-top: 15px;
  }

  .poppup__btn {
    margin: 30px auto 0;
  }
}